*{
    margin:0;
    padding:0;
    list-style: none;
    font-size: 12px;
    outline: none;
}
a{
    display: block;
    text-decoration:none;
    color:#333;
}
img{
    display: block;
}
.banner{
    width:100%;
    height:600px;
    overflow: hidden;
    position:relative;
}
.banner ul{
    width: 100%;
    height:600px;
    position: absolute;
    top:0;
    left:0;
}
.banner ul .banner-img{
    position: absolute;
    top:0;
    left:0;
}
header{
    width: 100%;
    height:50px;
    background: #1F2E46;
    position: absolute;
    top:0;
    left:0;
}
.header{
    width:1200px;
    height:50px;
    margin:0 auto;
    line-height: 50px;
}
.header span{
    color:rgb(164, 182, 209);
}
.header strong{
    float:right;
    color:rgb(164, 182, 209);
    margin-left:10px;
}
.header img{
    float:right;
    width: 22px;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.nav{
    width: 100%;
    height:115px;
    background: #fff;
    position: absolute;
    top:50px;
    left:0;
}
nav{
    width: 1200px;
    height:115px;
    margin:0 auto;
    position: relative;
}
nav .logobox{
    width: 185px;
    height:58px;
    float:left;
    margin-top:30px;
}
nav .logobox img{
    width: 100%;
    height:100%;
}
nav .nav-content{
    width: 630px;
    height:50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    position:absolute;
    top:35px;
    left:350px;
}
nav .nav-content li a{
    margin:0 20px;
    color: #5a5a5a;
    font-size: 14px;
}
nav .nav-content li a:hover{
    color:orange;
}
nav .shousuo{
    float:right;
    width: 200px;
    height:38px;
    border:1px solid #ccc;
    margin-top:40px;
    display: flex;
}
nav .shousuo input{
    width:152px;
    height:38px;
    border:0;
    padding-left:5px;
    box-sizing: border-box;
}
nav .shousuo .shou{
    width: 48px;
    height:38px;
    text-align: center;
    line-height: 38px;
    font-size:25px;
}
.banner-bottom{
    width:100%;
    height:190px;
    background: #fff;
    position: absolute;
    left:0;
    bottom:0;
}
.bottom-title{
    width: 1200px;
    height: 56px;
    margin:0 auto;
    margin-top: 75px;
    text-align: center;
    line-height: 56px;
    position: relative;
    color: rgb(28, 28, 28);
    font-size: 28px;
}
.bottom-title .line{
    width: 40px;
    height:3px;
    background: #CF9455;
    position: absolute;
    left:50%;
    bottom:0;
    margin-left:-20px;
}

/*内容*/
.main1{
    width: 1200px;
    height:380px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}
.main1 .imgbox{
    width:560px;
    height:380px;
}
.main1 .imgbox img{
    width:100%;
    height:100%;
}
.main1 .wenben{
    width: 570px;
    heighjt:380px;
    font-size: 14px;
    color: rgb(136, 136, 136);
    line-height: 200%;
    overflow: hidden;
    overflow: auto;
}

/*优势*/
.youshi{
    width: 100%;
    height:445px;
    background: rgb(247, 247, 247);
    margin-top:80px;
    overflow: hidden;
}
.youshi-title{
    width:1200px;
    height:56px;
    margin:0 auto;
    position: relative;
    text-align: center;
    line-height: 56px;
    color: rgb(28, 28, 28);
    font-size: 28px;
    margin-top:70px;
}
.youshi-title .line{
    width: 40px;
    height:3px;
    background: #CF9455;
    position: absolute;
    left:50%;
    bottom:0;
    margin-left:-20px;
}
.youshi .item-center{
    width: 1200px;
    margin:0 auto;
    padding-top:40px;
    display: flex;
}
.youshi .item{
    width:300px;
    text-align: center;
}
.youshi .item img{
    width:52px;
    height:52px;
    margin:0 auto;
    margin-bottom: 10px;
}
.youshi .item strong{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 280%;
    font-weight: bold;
}
.youshi .item p{
    width:250px;
    height:72px;
    margin:0 auto;
    line-height: 200%;
    color: rgb(168, 168, 168);
}
.fazhan-content{
    width: 1200px;
    height:350px;
    margin:0 auto;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}
.fazhan-left{
    width: 590px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.fazhan-left p{
    width: 590px;
    height:64px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    padding:20px;
    line-height: 24px;
    font-size:14px;
    color: rgb(136, 136, 136);
}
.fazhan-left p span{
    font-size: 16px;
    color:#cf9455;
    margin-right:10px;
}





.fazhan-right{
    width: 550px;
    height:350px;
}
.fazhan-right img{
    width: 550px;
    height:350px;
}

/*底部*/
footer{
    width: 100%;
    height:475px;
    background: rgb(49, 52, 60);
    margin-top:120px;
}
.footer{
    width:1200px;
    height:475px;
    margin:0 auto;
}
.foottop{
    padding-top:55px;
    display: flex;
    justify-content: space-between;
}

.foot1 strong{
    display: block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.foot1 .neirong{
    display: block;
    width: 352px;
    height:82px;
    color: rgb(187, 187, 187);
    line-height: 200%;
    margin-top:50px;
}
.foot1 .lianxi-content{
    width:376px;
    height:113px;
    display: flex;
}
.lianxi-content img{
    width: 16px;
    height:95px;
    margin-top:10px;
}
.lxright{
    width: 360px;
    height:113px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:10px;
}
.lxright span{
    display: block;
    color: rgb(187, 187, 187);
}
.foot2{
    width: 200px;
}
.foot2 .title{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom:30px;
}
.foot2 li{
    line-height: 250%;
    color: rgb(187, 187, 187);
}
.foot2 li img{
    width:110px;
    height:110px;
    border: 10px solid rgb(65, 68, 76);
    margin-top:15px;
}
.footbottom{
    width: 1200px;
    height:80px;
    margin-top:50px;
    border-top:1px solid #292B31;
    line-height: 80px;
    color:#5a5a5a;
    text-align: center;
}




